# Основные настройки сервера
SERVER_PORT=8443
SERVER_ADDR=185.232.171.119

# REALITY настройки
REALITY_DEST=www.google.com:443
REALITY_SERVER_NAMES=["www.google.com"]
REALITY_PRIVATE_KEY=
REALITY_PUBLIC_KEY=
REALITY_SHORT_IDS=["12345678"]

# DNS
DNS_SERVERS=["8.8.8.8", "1.1.1.1"]

# Логирование
DEBUG_MODE=true
LOG_LEVEL=debug

# База клиентов
CLIENTS_DB_PATH=data/clients.json
